@font-face {
  font-family: 'itc_avant_garde_std';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/avant-garde/ITCAvantGardeStdMd.otf');
}

@font-face {
  font-family: 'itc_avant_garde_std';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/avant-garde/ITCAvantGardeStdDemi.otf');
}

@font-face {
  font-family: 'itc_avant_garde_std';
  font-style: normal;
  font-weight: 900;
  src: url('/fonts/avant-garde/ITCAvantGardeStdBold.otf');
}
